i {
	z-index: 1;
}

p-autocomplete ::ng-deep {
	position: relative;
	left: -.5rem;

	input {
		width: 600px;
		border-radius: 25px;
		padding-left: 3rem;
	}

	.p-autocomplete-panel {
		max-height: 800px !important;
	}

	.p-autocomplete-item {
		border-bottom: solid 1px #00305c54 !important;
	}
}
