<div class="card p-4 w-full xl:w-6">
	<div class="text-center mb-5">
		<img alt="" class="mb-1" height="50" ngSrc="assets/images/logo.svg" width="300">
		<div>
			<span class="text-600 font-medium line-height-3">Já tem uma conta?</span>
			<a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Entre agora</a>
		</div>
	</div>

	<form (ngSubmit)="onSubmit()" [formGroup]="form">
		<app-form-input
			[form]="form"
			label="Nome"
			name="name"
			placeholder="Seu nome"
		/>
		<app-form-input
			[form]="form"
			label="Sobrenome"
			name="surname"
			placeholder="Seu sobrenome"
		/>
		<app-form-input
			[form]="form"
			label="Nome de usuário"
			name="nickname"
			placeholder="Seu nome de usuário"
		/>
		<app-form-input
			[form]="form"
			label="E-mail"
			name="email"
			placeholder="nome@email.com.br"
		/>
		<app-form-input
			[form]="form"
			label="Senha"
			name="password"
			placeholder="Sua senha"
			type="password"
		/>
		<app-form-input
			[form]="form"
			label="Confirmação"
			name="passwordConfirmation"
			placeholder="Confirme a sua senha"
			type="password"
		/>

		<p-button
			class="p-0 w-full"
			appAutoLoading icon="pi pi-user"
			label="Criar conta"
			type="submit">
		</p-button>
	</form>
</div>
