.navigation {
	min-width: 250px;
	height: 100vh;
	padding: 1rem;

	p-menu ::ng-deep {
		.p-menu {
			border: none;
			background-color: transparent;
		}

		.p-menu, .p-menu-list {
			width: 100% !important;
			height: 100% !important;
		}
	}
}

.navigation-icon {
	min-width: 250px;
	height: 100vh;
	padding: 1rem;

	p-menu ::ng-deep {
		.p-menu {
			border: none;
			background-color: transparent;
		}

		.p-menu, .p-menu-list {
			width: 100% !important;
			height: 100% !important;
		}
	}
}


:host {
	height: 100%;
	display: block;
}

.user-name {
	font-size: 1.1rem;
}

app-avatar {
	border: solid 2px white;
	width: 48px;
	height: 48px;
	display: block;
	border-radius: 100%;
	box-sizing: content-box;
}
